<h1>Deal a hand</h1>


<% card1num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace" ].sample %>
<% card1num %>
<% card1suit = [ "hearts", "diamonds", "clubs", "spades" ].sample %>
<% card1suit %>
<img style="-webkit-user-select: none; cursor: zoom-in;" src="http://golearntocode.com/images/cards/<%= card1num %>_of_<%= card1suit %>.png" width="236" height="343">

<% card2num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace" ].sample %>
<% card2num %>
<% card2suit = [ "hearts", "diamonds", "clubs", "spades" ].sample %>
<% card2suit %>
<img style="-webkit-user-select: none; cursor: zoom-in;" src="http://golearntocode.com/images/cards/<%= card2num %>_of_<%= card2suit %>.png" width="236" height="343">

<% card3num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace" ].sample %>
<% card3num %>
<% card3suit = [ "hearts", "diamonds", "clubs", "spades" ].sample %>
<% card3suit %>
<img style="-webkit-user-select: none; cursor: zoom-in;" src="http://golearntocode.com/images/cards/<%= card3num %>_of_<%= card3suit %>.png" width="236" height="343">

<% card4num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace" ].sample %>
<% card4num %>
<% card4suit = [ "hearts", "diamonds", "clubs", "spades" ].sample %>
<% card4suit %>
<img style="-webkit-user-select: none; cursor: zoom-in;" src="http://golearntocode.com/images/cards/<%= card4num %>_of_<%= card4suit %>.png" width="236" height="343">

<% card5num = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace" ].sample %>
<% card5num %>
<% card5suit = [ "hearts", "diamonds", "clubs", "spades" ].sample %>
<% card5suit %>
<img style="-webkit-user-select: none; cursor: zoom-in;" src="http://golearntocode.com/images/cards/<%= card5num %>_of_<%= card5suit %>.png" width="236" height="343">